
:root {
    --gray-darker: #444444;
    --gray-dark: #696969;
    --gray: #999999;
    --gray-light: #cccccc;
    --gray-lighter: #ececec;
    --gray-lightest: #f1f1f1;
  }
  
  /* Global styles */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  

  
  body {
    color: var(--gray);
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
  }
  
img {
	max-width: 100%;
}

main {
	display:grid;
	padding: 10px;
	max-width: 1200px;
	margin: 0 auto;
}

header a {
	text-decoration: none;
	color: inherit;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px; /* Adjust margin as needed */
}

nav .auth-links {
	display: flex;
	gap: 15px;
}





form.login,
form.register {
	max-width: 400px;
	margin: 0 auto;
}
input {
	display: block;
	margin-bottom: 5px;
	width: 100%;
	padding: 5px 7px;
	border: 2px solid #ddd;
	border-radius: 5px;
	background-color: #fff;
}
button {
	cursor: pointer;
	width: 100%;
	display: block;
	background-color: #555;
	border: 0;
	color: #fff;
	border-radius: 5px;
	padding: 7px 0;
}

footer {
	display: grid;
}

/* ProfilePage */

.profile {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	border-radius: 8px;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
  }
  
  .profile-header {
	margin-bottom: 20px;
  }
  
  .profile-header h2 {
	font-size: 24px;
	margin-bottom: 10px;
  }
  
  .profile-header img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .profile-header p {
	font-size: 18px;
	margin-top: 10px;
  }
  

  