body {
	color: #222;
}
img {
	max-width: 100%;
}

main {
	padding: 10px;
	max-width: 1200px;
	margin: 0 auto;
}

header a {
	text-decoration: none;
	color: inherit;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px; /* Adjust margin as needed */
}

nav .auth-links {
	display: flex;
	gap: 15px;
}





form.login,
form.register {
	max-width: 400px;
	margin: 0 auto;
}
input {
	display: block;
	margin-bottom: 5px;
	width: 100%;
	padding: 5px 7px;
	border: 2px solid #ddd;
	border-radius: 5px;
	background-color: #fff;
}
button {
	cursor: pointer;
	width: 100%;
	display: block;
	background-color: #555;
	border: 0;
	color: #fff;
	border-radius: 5px;
	padding: 7px 0;
}

footer {
	display: flex;
}
